notes/*
apps/
venv3
requirements.txt
.DS_Store

previous_README.md


scripts/.DS_Store
scripts/01_process-bulkrna/.DS_Store

raw-data/test-data/
raw-data/.DS_Store

data/.DS_Store
data/01_process-bulkrna/*
