notes/*
apps/
venv3
requirements.txt
.DS_Store

previous_README.md
notes_jl.md

scripts/.DS_Store
scripts/01_process-bulkrna/.DS_Store
scripts/01_process-bulkrna/previous/

raw-data/*
!raw-data/README.md

data/.DS_Store
data/01_process-bulkrna/*


data/02_process-scrna/7319_Enz/
data/02_process-scrna/7319_Mech/

data/03_compare-bulk_scrna/scrna2bulk/
